<nav class="navbar navbar-expand navbar-light bg-warning">
  <div class="container-fluid">
    <%= link_to "Inventory", "/", class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Friends", friends_path, class:"nav-link active" %>
        </li>

        <li class="nav-item">
          <%= link_to "Wish list", wishes_path, class:"nav-link" %>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%= link_to "About us", about_index_path, class:"nav-link active" %>
        </li>

        <li class="nav-item">
          <%= link_to "Contact", contact_index_path, class:"nav-link active" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
