<table class="table table-hover">
  <thead>
    <tr>
      <th>Wish</th>
      <th>Status</th>
      <th>Wisher Id</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
        <td><%= wish.name %></td>
        <td><%= wish.status? ? "Granted" : "Waiting" %></td>
        <td><%= wish.user.email %></td>
        <td><%= link_to "Delete", wish_path(wish), method: :delete, data: {confirm: "Sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add wish", new_wish_path %>
