<h1>Create your Inventory Account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.email_field :email, placeholder: "example@gmail.com", autofocus: true, autocomplete: "email" %>
    <div class="form-text">You can use letters, numbers & periods</div>
  </div><br>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "password", autocomplete: "new-password" %>
    <div class="form-text">Use atleast 8 or more characters with a mix of letters, numbers & symbols</div>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placeholder: "password", autocomplete: "new-password" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-success" %>
  </div><br>
<% end %>

<%= render "devise/shared/links" %>
