<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Contact Number</th>
      <th>Initiator Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td><%= friend.name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.number %></td>
          <td><%= friend.user.email %></td>
          <td><%= link_to "Unfriend", friend_path(friend), method: :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Add friend", new_friend_path %>
